.green-button {
  color: $white;
  background-color: $green;
  padding: 1em;
  border-radius: 20px;
}

.gold-button {
  color: $black;
  background-color: $gold;
  padding: 1em;
  border-radius: 20px;
}

.link {
  color: $black;
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 0.9375rem;
}
