h1 {
  display: flex;
  aling-items: center;
  margin: 0;
  font-size: 2.4em;
  font-family: Ubuntu;
  font-weight: 500;

  @media (min-width: $md) {
    font-size: 3em;
  }

  @media (min-width: $lg) {
    font-size: 3.5em;
  }
}

h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  font-family: Roboto Mono;

  @media (min-width: $md) {
    font-size: 45px;
  }

  @media (min-width: $lg) {
    font-size: 60px;
  }
}

h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  font-family: Raleway;

  @media (min-width: $md) {
    font-size: 45px;
  }

  @media (min-width: $lg) {
    font-size: 60px;
  }
}

p {
  margin: 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;

  @media (min-width: $md) {
    font-size: 20px;
    line-height: 35px;
  }

  @media (min-width: $lg) {
    font-size: 25px;
  }
}
