$white: #f6f6f8;
$white-low-opacity: rgba(255, 255, 255, 0.8);
$black: #2a2b2f;
$green: #006871;
$gold: #d1bc56;
$light-grey: rgba(196, 196, 196, 0.8);
$grey: #ebebec;
$dark-grey: rgba(0, 0, 0, 0.6);
$medium-grey: rgba(0, 0, 0, 0.5);

$xs: 0px;
$sm: 576px;
$md: 768px;
$xm: 960px;
$lg: 1120px;
$xl: 1160px;
$xxl: 1440px;
