.container {
  width: 80%;
  background-color: $white;
  display: flex;
  flex-direction: column;
  margin: 8vh 0 5vh;

  @media (min-width: $md) {
    margin: 12vh 0 8vh;
  }
}

.h3 {
  margin-bottom: 5vh;
}
