.container {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $white;
  z-index: 99;
  display: flex;
  padding: 8px 32px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}

.logo-container {
  height: 70px;
  width: 138px;
  position: relative;
}

.logo {
  background-position: center;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.button-container {
  display: flex;
  align-items: center;
}

.navigator-container {
  display: none;
  align-items: center;

  @media (min-width: $lg) {
    display: flex;
  }
}

.drawer-container {
  display: flex;
  align-items: center;

  @media (min-width: $lg) {
    display: none;
  }
}

.button {
  min-width: 7em;
  margin: 0 8px;
  font-size: 1em;
  border-radius: 20px;
}

.menu-button {
  width: 30px;
  height: 30px;
  color: $green;
}

.drawer-items {
  padding: 16px 8px !important;
}

.drawer-buttons {
  text-align: start;
  font-size: 15px;
}
